################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug/DbConfig.exe
/Debug/DbConfig.pdb
/Debug/DbConfig.vshost.exe
/Debug/DbConfig.xml
/Debug/MySql.Data.dll
/Debug/NPOI.dll
/Debug/Oracle.DataAccess.dll
/Windy.Common.DbConfig/obj/Debug/build.force
/Windy.Common.DbConfig/obj/Debug/DbConfig.exe
/Windy.Common.DbConfig/obj/Debug/DbConfig.pdb
/Windy.Common.DbConfig/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Windy.Common.DbConfig/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Windy.Common.DbConfig/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Windy.Common.DbConfig/obj/Debug/Windy.Common.DbConfig.csproj.FileListAbsolute.txt
/Windy.Common.DbConfig/obj/Debug/Windy.Common.DbConfig.csproj.GenerateResource.Cache
/Windy.Common.DbConfig/obj/Debug/Windy.Common.DbConfig.csprojResolveAssemblyReference.cache
/Windy.Common.DbConfig/obj/Debug/Windy.Common.DbConfig.MainForm.resources
/Windy.Common.DbConfig/obj/Debug/Windy.Common.DbConfig.Properties.Resources.resources
/Windy.Common.Libraries/bin/Debug/MySql.Data.dll
/Windy.Common.Libraries/bin/Debug/NPOI.dll
/Windy.Common.Libraries/bin/Debug/Oracle.DataAccess.dll
/Windy.Common.Libraries/bin/Debug/Windy.Common.Libraries.dll
/Windy.Common.Libraries/bin/Debug/Windy.Common.Libraries.pdb
/Windy.Common.Libraries/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Windy.Common.Libraries/obj/Debug/Windy.Common.Libraries.csproj.FileListAbsolute.txt
/Windy.Common.Libraries/obj/Debug/Windy.Common.Libraries.csprojResolveAssemblyReference.cache
/Windy.Common.Libraries/obj/Debug/Windy.Common.Libraries.dll
/Windy.Common.Libraries/obj/Debug/Windy.Common.Libraries.pdb
/Windy.Common.Libraries/bin/Release/MySql.Data.dll
/Windy.Common.Libraries/bin/Release/NPOI.dll
/Windy.Common.Libraries/bin/Release/Windy.Common.Libraries.dll
/Windy.Common.Libraries/bin/Release/Windy.Common.Libraries.pdb
/Windy.Common.Libraries/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Windy.Common.Libraries/obj/Release/Windy.Common.Libraries.csproj.FileListAbsolute.txt
/Windy.Common.Libraries/obj/Release/Windy.Common.Libraries.csprojResolveAssemblyReference.cache
/Windy.Common.Libraries/obj/Release/Windy.Common.Libraries.dll
/Windy.Common.Libraries/obj/Release/Windy.Common.Libraries.pdb
/Windy.Common.v12.suo
